*{
    box-sizing: border-box;
}
.navbar{
    background-color: gray;
}
.navbar-toggler{
    padding: 10px;
    margin: 10px;
}
.navbar-brand{
    padding: 10px;
    margin: 0px;
}
.navbar-nav{
    background-color: rgb(205, 153, 153);
    color: black;
}
.nav-item{
    padding: 5px;
}
h2{
    margin-bottom: 20px;
    margin-top: 20px;
}
#main-content{
    margin: 10px;
}
#main-content div{
    background-color: rgb(117, 212, 117);
    margin: 10px 0px 10px 0px;
}
